* {
  margin: 0;
  box-sizing: border-box;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-around;
  
}


.container {
  display: flex;
  background: #4ac49c;
}

.container-principal {
  display: flex;
  background-color: #4ac49b;
  text-align: center;
  margin: 0.45rem auto;
  color: black;
}

.container-tarjets {
  gap: 20px;
  display: flex;
  margin: 0.45rem auto;
  justify-content: center;
  flex-flow: row wrap;
}

.container-tarjet {
  border: 1px solid #ffffff;
  border-radius: 1rem;
  width: 20rem;
  height: auto;
  background-size: cover;
  overflow: hidden;
}

.imagen {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: 0.5s;
  text-align: center;
  border-radius: 0 0 15px 15px;
}

.container-text {
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  margin: -4px 0px 0px;
}

.container-text:hover {
  opacity: 1;
}

.tittle {
  margin: 10px;
}
